body p{
color: green;
} 
body{
  background: #000;
  color: white !important ;
  font-family: Verdana;
  color: red;
}
p{
  color:blue;
}
a{
  color: white;
}

.contenedor{
  margin-top: 10px;
  margin-left: 20px;
}
